/* ~/.config/gtk-4.0/gtk.css */

/* Primary colors from Nord Darker */
@define-color theme_bg_color #21252D;
@define-color theme_fg_color #D8DEE9;
@define-color theme_base_color #21252D;
@define-color theme_text_color #D8DEE9;
@define-color theme_selected_bg_color #434C5E;
@define-color theme_selected_fg_color #81A1C1;
@define-color cursor_color #D8DEE9;
@define-color theme_cursor_background_color #21252D;

/* Accent and contextual colors from Nord Darker */
@define-color accent_color #81A1C1;
@define-color error_color #BF616A;
@define-color warning_color #D08770;
@define-color success_color #A3BE8C;
@define-color link_color #88C0D0;
@define-color insensitive_fg_color #434C5E;
@define-color insensitive_bg_color #2E333F;

button {
    background-color: #2E333F; /* Nord Darker black */
    color: #D8DEE9; /* Nord Darker text */
}
button:hover {
    background-color: #434C5E; /* Nord Darker selection background */
    color: #81A1C1; /* Nord Darker selection text */
}
button:active {
    background-color: #81A1C1; /* Nord Darker bright blue */
    color: #21252D;
}
